#STRIPPED.CFG - CFG file to minimize builtin functionality
# ------------------- Modify Before Release ------------------- 
keys.cheat.bind = "?"
cheat.snd = "i-g"
error.msg = "ERR: "
error.snd = "i++c"
#  ------------------- Optional Removals/Changes ------------------- 
#gameover.msg = ""
#gameover.snd = ""
#edge.pushable = false
#keys.save.bind = ""
#keys.save.label = ""
#keys.pause.bind = ""
#keys.sound.bind = "B"
#keys.sound.label.on = "Sound is ON "
#keys.sound.label.off = "Sound is OFF"
#theme.titleprompt = "Make A Selection:"
#theme.move.msg = ""
#theme.shoot.msg = ""
#theme.shift.msg = ""
#keys.help.bind = ""
#keys.help.label = ""
#other.ouchdamage = 0
#other.torchratiox = 1
#other.torchratioy = 2
#other.torchsize = 50
#other.maxoop = 254
#other.graceperiod = 0
#other.startboard = -1
#other.highscores = 0
#theme.blinking = 0
# ------------------- Player ------------------- 
player.fg = "White"
player.bg = "DkBlue"
player.char = 2
# ------------------- Standard Removals ------------------- 
fake.msg.touch = ""
water.msg.touch = ""
water.snd.touch = ""
cantshoot.msg = ""
outofammo.msg = ""
notdark.msg = ""
outoftorches.msg = ""
darkboard.msg = ""
statdeath.snd = ""
counter.health  = ""
counter.ammo    = ""
counter.torches = ""
counter.gems    = ""
counter.score   = ""
counter.keys    = ""
keys.torch.bind = ""
keys.torch.label = ""
default.object.name = ""
# ------------------- Sacrifces ------------------- 
#       Ammo
#ammo.fg = "Black"
#ammo.char = 132
#ammo.pushable = false
#       Torch
#torch.fg = "Black"
#torch.char = 157
#torch.pushable = false
#       Gem
#gem.char = 4
#gem.pushable = false
#       Key
#key.char = 12
#key.pushable = false
#       Door
#door.char = 10
#door.pushable = false
#       Passage
#passage.char = 240
#passage.cycle = -1
#passage.pushable = false
#       Bomb
#bomb.char = 11
#bomb.cycle = -1
#bomb.pushable = false
#       Energizer
#energizer.fg = "Black"
#energizer.char = 127
#energizer.pushable = false
#       Bullet
#bullet.fg = "Black"
#bullet.char = 248
#bullet.cycle = -1
#bullet.canshoot
#bullet.pushable = false
#       Forest
#forest.bg = "Black"
#forest.char = 176
#forest.pushable = false
#       SliderNS
#sliderns.char = 18
#sliderns.pushable = false
#       SliderEW
#sliderew.char = 29
#sliderew.pushable = false
#       Invisible
#invisible.char = 32
#invisible.pushable = false
#       Blinkwall
#blinkwall.char = 206
#blinkwall.cycle = -1
#       BlinkNS
#blinkns.char = 186
#       BlinkEW
#blinkew.char = 205
#       Ricochet
#ricochet.fg = "Black"
#ricochet.char = 42
#       Bear
#bear.fg = "Black"
#bear.char = 153
#bear.cycle = -1
#bear.canshoot = false
#bear.pushable = false
#       Ruffian
#ruffian.fg = "Black"
#ruffian.char = 5
#ruffian.cycle = -1
#ruffian.canshoot = false
#ruffian.pushable = false
#       Slime
#slime.char = 42
#slime.cycle = -1
#slime.pushable = false
#       Shark
#shark.fg = "Black"
#shark.char = 94
#shark.cycle = -1
#shark.pushable = false
#       Lion
#lion.fg = "Black"
#lion.char = 234
#lion.cycle = -1
#lion.canshoot = false
#lion.pushable = false
#       Tiger
#tiger.fg = "Black"
#tiger.char = 227
#tiger.cycle = -1
#tiger.canshoot = false
#tiger.pushable = false
#       Head
#head.char = 233
#head.cycle = -1
#head.canshoot = false
#head.pushable = false
#       Segment
#segment.char = 79
#segment.cycle = -1
#segment.canshoot = fdalse
#segment.pushable = false
#       Monitor
#monitor.fg = "Black"
#monitor.char = 32
#monitor.cycle = -1
# ------------------- Text ------------------- 
#       BlueText
#bluetext.fg = "White"
#bluetext.bg = "DkBlue"
#       GreenText
#greentext.fg = "White"
#greentext.bg = "DkGreen"
#       CyanText
#cyantext.fg = "White"
#cyantext.bg = "DkCyan"
#       RedText
#redtext.fg = "White"
#redtext.bg = "DkRed"
#       PurpleText
#purpletext.fg = "White"
#purpletext.bg = "DkPurple"
#       YellowText
#yellowtext.fg = "White"
#yellowtext.bg = "Brown"
#       WhiteText
#whitetext.fg = "White"
#whitetext.bg = "Black"
#       CustomText
#customtext.fg = "Black"
#customtext.bg = "Purple"
#customtext.pushable = TRUE
#customtext.seedark = TRUE
# ------------------- Theme ------------------- 
theme.bg.sidebar = "DkBlue"
theme.fg.text1 = "White"
theme.fg.text2 = "Yellow"
theme.fg.alt = "Black"
theme.bg.alt1 = "Gray"
theme.bg.alt2 = "DkCyan"
theme.fg.special = "Red"
# ------------------- Keybinds ------------------- 
input.1.keybind = ""
input.1.label = ""
input.1.sidebar.row = "0"
#input.2.keybind = ""
#input.2.label = ""
#input.2.sidebar.row = "0"
#input.2.keybind = ""
#input.2.label = ""
#input.3.sidebar.row = "0"
#input.4.keybind = ""
#input.4.label = ""
#input.4.sidebar.row = "0"
#input.5.keybind = ""
#input.5.label = ""
#input.5.sidebar.row = "0"
#input.6.keybind = ""
#input.6.label = ""
#input.6.sidebar.row = "0"
#input.7.keybind = ""
#input.7.label = ""
#input.7.sidebar.row = "0"
#input.8.keybind = ""
#input.8.label = ""
#input.8.sidebar.row = "0"
# ------------------- Flags ------------------- 
world.flag = "FLAG1"
world.flag = "FLAG2"
world.flag = "FLAG3"
# ------------------- Counters ------------------- 
world.counter = "COUNTER1"
world.counter = "COUNTER2"
world.counter = "COUNTER3"
# ------------------- Sidebar ------------------- 
#sidebar.7.counter = [4," Health:"]
#sidebar.8.counter = [5,"   Ammo:"]
#sidebar.9.counter = [6,"Torches:"]
#sidebar.10.counter = [7,"   Gems:"]
#sidebar.11.counter = [-1,"  Score:"]
#sidebar.12.counter = [8,"   Keys:"]
sidebar.0.counter = [-1,"NULL"]